<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>

<nav class="topbar" th:fragment="top">
    <div class="top-left">
        <a th:href="@{/}" class="logo">🔮 Tarot</a>

        <a th:href="@{/draw}">오늘의 타로</a>
        <a th:href="@{/draw3}">3장 타로</a>
        <a th:href="@{/match}">궁합</a>
        <a th:href="@{/history}">기록</a>
    </div>

    <div class="top-right">
        <!-- 로그인 안 했을 때 -->
        <span sec:authorize="isAnonymous()">
            <a th:href="@{/login}">로그인</a>
            <a th:href="@{/join}">회원가입</a>
        </span>

        <!-- 로그인 했을 때 -->
        <span sec:authorize="isAuthenticated()">
            <span class="user"><span sec:authentication="name"></span> 님</span>
            <a th:href="@{/logout}" class="logout">로그아웃</a>
        </span>
    </div>
</nav>

</body>
</html>
