<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>3장 타로</title>
    <link rel="stylesheet" href="/css/tarot.css">
</head>
<body>

<h2 class="tarot-title">과거 · 현재 · 미래</h2>

<p th:if="${summary}" class="card-explanation" th:text="${summary}"></p>

<div class="cards">
    <div th:each="card, stat : ${cards}" class="tarot-box"
         onclick="this.classList.toggle('flip')">

        <div class="card">
            <div class="card-face card-back">
                <img src="/image/back.png">
            </div>

            <div class="card-face card-front">
                <img th:src="@{/image/{img}(img=${card.image})}">
            </div>
        </div>

        <div class="card-text">
            <div class="card-name" th:text="${card.name}"></div>
            <p class="card-explanation"
               th:text="${explanations[stat.index]}"></p>
        </div>
    </div>
</div>

<div class="buttons">
    <a href="/draw3">🔄 다시 3장</a>
    <a href="/">🏠 처음으로</a>
</div>

</body>
</html>
